In [7]:
import pandas as pd
import numpy as np
import requests
import json
import ast
from pycoingecko import CoinGeckoAPI

with open ("cardano max.json") as f:
    datacardano = json.load(f)


df_cardano = pd.read_json('cardano max.json')

df_cardano.head(10)

,prices,market_caps,total_volumes
0,"[1508284800000, 0.0268]","[1508284800000, 696021404.3079604]","[1508284800000, 2351678.122306208]"
1,"[1508371200000, 0.0268]","[1508371200000, 695622018.2559936]","[1508371200000, 2815155.9695999967]"
2,"[1508457600000, 0.0303]","[1508457600000, 785580027.6424098]","[1508457600000, 8883473.082062634]"
3,"[1508544000000, 0.0286]","[1508544000000, 741202123.8797704]","[1508544000000, 5308856.917095766]"
4,"[1508630400000, 0.027800000000000002]","[1508630400000, 720669848.4724126]","[1508630400000, 2901876.1220860113]"
5,"[1508716800000, 0.026000000000000002]","[1508716800000, 675273816.053428]","[1508716800000, 3505126.543112243]"
6,"[1508803200000, 0.0274]","[1508803200000, 710852942.3615782]","[1508803200000, 7822397.543947947]"
7,"[1508889600000, 0.0273]","[1508889600000, 707013105.4597949]","[1508889600000, 2513886.637623913]"
8,"[1508976000000, 0.026600000000000002]","[1508976000000, 689437113.7144977]","[1508976000000, 2369400.241402218]"
9,"[1509062400000, 0.026500000000000003]","[1509062400000, 687316826.4044167]","[1509062400000, 2569633.7793355323]"

In [8]:
df_cardano["prices"] = df_cardano["prices"].astype(str)
df_cardano["market_caps"] = df_cardano["market_caps"].astype(str)
df_cardano["total_volumes"] = df_cardano["total_volumes"].astype(str)

df_cardano["unix_timestamp"] = df_cardano["prices"].apply(lambda x: int(x.split(", ")[0][1:]))
df_cardano["date"] = pd.to_datetime(df_cardano["unix_timestamp"], unit="ms")
df_cardano.head(10)

df_cardano["prices"] = df_cardano["prices"].apply(ast.literal_eval)
df_cardano["market_caps"] = df_cardano["market_caps"].apply(ast.literal_eval)
df_cardano["total_volumes"] = df_cardano["total_volumes"].apply(ast.literal_eval)

def remove_unix_timestamp(entry):
    return entry[1]

df_cardano["prices"] = df_cardano["prices"].apply(remove_unix_timestamp)
df_cardano["market_caps"] = df_cardano["market_caps"].apply(remove_unix_timestamp)
df_cardano["total_volumes"] = df_cardano["total_volumes"].apply(remove_unix_timestamp)

df_cardano = df_cardano.drop(columns=['unix_timestamp'])

pd.set_option('display.float_format', '{:.2f}'.format)
df_cardano['year'] = df_cardano['date'].dt.year
pd.options.display.float_format = '{:.15f}'.format

df_cardano.head(10)

,prices,market_caps,total_volumes,date,year
0,0.026800000000000,696021404.307960391044617,2351678.122306208126247,2017-10-18,2017
1,0.026800000000000,695622018.255993604660034,2815155.969599996693432,2017-10-19,2017
2,0.030300000000000,785580027.642409801483154,8883473.082062633708119,2017-10-20,2017
3,0.028600000000000,741202123.879770398139954,5308856.917095766402781,2017-10-21,2017
4,0.027800000000000,720669848.472412586212158,2901876.122086011338979,2017-10-22,2017
5,0.026000000000000,675273816.053428053855896,3505126.543112243060023,2017-10-23,2017
6,0.027400000000000,710852942.361578226089478,7822397.543947947211564,2017-10-24,2017
7,0.027300000000000,707013105.459794878959656,2513886.637623913120478,2017-10-25,2017
8,0.026600000000000,689437113.714497685432434,2369400.241402218118310,2017-10-26,2017
9,0.026500000000000,687316826.404416680335999,2569633.779335532337427,2017-10-27,2017

In [9]:
archivo_csv = "Cardano_DF.csv"
df_cardano.to_csv(archivo_csv, index=False)