In [2]:
import pandas as pd
import numpy as np
import requests
import json
import ast
from pycoingecko import CoinGeckoAPI

df_ripple = pd.read_json("ripple max.json")


df_ripple["prices"] = df_ripple["prices"].astype(str)
df_ripple["market_caps"] = df_ripple["market_caps"].astype(str)
df_ripple["total_volumes"] = df_ripple["total_volumes"].astype(str)

df_ripple["unix_timestamp"] = df_ripple["prices"].apply(lambda x: int(x.split(", ")[0][1:]))
df_ripple["date"] = pd.to_datetime(df_ripple["unix_timestamp"], unit="ms")
df_ripple.head(10)

df_ripple["prices"] = df_ripple["prices"].apply(ast.literal_eval)
df_ripple["market_caps"] = df_ripple["market_caps"].apply(ast.literal_eval)
df_ripple["total_volumes"] = df_ripple["total_volumes"].apply(ast.literal_eval)

def remove_unix_timestamp(entry):
    return entry[1]

df_ripple["prices"] = df_ripple["prices"].apply(remove_unix_timestamp)
df_ripple["market_caps"] = df_ripple["market_caps"].apply(remove_unix_timestamp)
df_ripple["total_volumes"] = df_ripple["total_volumes"].apply(remove_unix_timestamp)

df_ripple = df_ripple.drop(columns=['unix_timestamp'])

pd.set_option('display.float_format', '{:.2f}'.format)
pd.options.display.float_format = '{:.15f}'.format
df_ripple['year'] = df_ripple['date'].dt.year
df_ripple.head(10)

,prices,market_caps,total_volumes,date,year
0,0.005900000000000,45921034.000000000000000,0.000000000000000,2013-08-04,2013
1,0.005700000000000,44191247.000000000000000,0.000000000000000,2013-08-05,2013
2,0.004700000000000,36500633.000000000000000,0.000000000000000,2013-08-06,2013
3,0.004500000000000,35071445.000000000000000,0.000000000000000,2013-08-07,2013
4,0.004200000000000,32800191.000000000000000,0.000000000000000,2013-08-08,2013
5,0.004300000000000,33440085.000000000000000,0.000000000000000,2013-08-09,2013
6,0.004300000000000,33760306.000000000000000,0.000000000000000,2013-08-10,2013
7,0.004400000000000,34180440.000000000000000,0.000000000000000,2013-08-11,2013
8,0.004400000000000,34374714.000000000000000,0.000000000000000,2013-08-12,2013
9,0.004200000000000,33050911.000000000000000,0.000000000000000,2013-08-13,2013

In [3]:
archivo_csv = "Ripple_DF.csv"
df_ripple.to_csv(archivo_csv, index=False)